server:
  port: ${SERVER_PORT:8080}

eureka:
  instance:
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://localhost:8761/eureka}

spring:
  application:
    name: iti-service-files
  config.import: optional:configserver:${SPRING_CLOUD_CONFIG_URI:http://localhost:8888}